:root{
    --mainBrown: #2d1e1f;
    --mainYellow: rgb(255, 158, 9);
    --mainGrey: #ece8dc;
    --mainWhite: #fff;
    --mainDark: #222;
    --mainGold: #8C7E5B;
}
/* Barre de menu */

.main-menu {
  background: var(--mainGold);
  color: var(--mainWhite);
}
.logo {
  width: 250px
}

.menu-item a {
  color: var(--mainWhite);
  margin-right: 2rem;
  font-size: 1.3rem;
}

/* Fin Barre de menu */

.main  {
  background-image: url("../images/back.jpg"); 
  height: 100vh;
}