:root{
    --mainBrown: #2d1e1f;
    --mainYellow: rgb(255, 158, 9);
    --mainGrey: #ece8dc;
    --mainWhite: #fff;
    --mainDark: #222;
    --mainGold: #8C7E5B;
}

@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');

.title {
  font-family: 'Great Vibes',serif;
  color: var(--mainWhite);
  padding: 2rem 0;
}

/* Barre de menu */
.menu-wrapper {
  background: var(--mainGold);
  width: 100%;
}

.main-menu {
  background: var(--mainGold) !important;
}
.logo {
  width: 120px
}
.nav-link {
  color: var(--mainWhite) !important;
  text-align: center;
}
.menu-item a {
  color: var(--mainWhite);
  margin-right: 1rem;
  font-size: 1rem;
  transition: all .3s;
}

.menu-item a:hover,
.social-item:hover {
  color: var(--mainWhite);
  text-shadow: 0px 0px 10px var(--mainWhite);
  transform: translateY(-5px);
}

.social-link {
  margin: 0 auto;
}

.social-item {
  font-size: 2rem;
  padding-right: 1rem;
  color: var(--mainWhite);
}

/* Fin Barre de menu */

.home-hero {
  min-height: calc(100vh - 70px);
  background-position: center;
  background-size: cover;
  opacity: 1;
  margin-bottom: 3rem;
}

.banner {
  text-align: center;
  width: 100%;
  opacity: 0.9;
  margin: 35% 0;
}

.banner-title {
  display: none;
  width: 100%;
  background: var(--mainGold);
}

.banner-title img {
  width: 250px;
}

.banner-info {
  width: 100%;
  background: var(--mainWhite);
  color: var(--mainGold);
  padding: 1rem 0;
}

.banner-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.footer {
  background: var(--mainGold);
}

@media only screen and (min-width: 1200px) {
  .navbar-collapse {
    flex-grow: 1;
  }
  .main-menu {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }
  .menu-item a {
    color: var(--mainWhite);
    margin-right: 2rem;
    font-size: 1.3rem;
    transition: all .3s;
  }

  .home-hero {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 250px;
  }

  .social-link {
    text-align: left;
  }

  .banner {
    width: 60%;
    margin: 0 auto;
  }

  .banner-title {
    display: block;
    border-bottom: 2px solid var(--mainBrown);
  }
  .banner-title img {
    max-width: 768px;
  }

  .banner-contact {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }
}

/* MENU SEMAINE */

.menu-container {
  width: 90%;
  margin: 0 auto;
}

/* FIN MENU SEMAINE */

/* LISTE PLAT */
.list-plat {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
  margin: 2rem auto;
}
.list-plat-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.list-plat-title {
  align-self: center;
  font-family: 'Great Vibes',serif;
  color: var(--mainGold);
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .list-plat {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  .list-plat-content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
/* FIN LIST PLAT */

/* PLAT */
.plat-card {
  width: 100%;
  color: var(--mainGold);
  align-self: center;
  margin-bottom: 1rem;
}

.plat-card-title {
  font-size: 1rem;
  font-weight: bold;
}

.plat-card-description {
  font-size: 0.8rem;
}

.plat-content span {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 1.25rem;
}

@media only screen and (min-width: 1200px) {
  .plat-card {
    align-self: initial;
    width: 12rem;
  }
}
/* FIN PLAT */


/* INFO */

#info-map iframe {
  min-height: 350px;
  width: 100%;
  display: block;
  margin-bottom: 3rem;
  border: 2px solid var(--mainGold);
}

.info-icon {
  background: var(--mainGold);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  border: 1px solid var(--mainBrown);
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  display: flex;
  justify-content: center;
}

.info-icon span {
  display: block;
  font-size: 5rem;
}

.info-container {
  margin-top: 3rem;
}

.info-heure {
  margin-top: 2rem;
  text-align: center;
  color: var(--mainGold);
}

@media only screen and (min-width: 1200px) {

}

/* FIN INFO */
